<main class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 pt-2">
                <div class="card">
                    <div class="card-header">
                        Статус заявки 
                        <a href="https://vk.com/im?sel=-191498125" target="_blank">
                            <span class="float-right badge badge-pill badge-success clients-feedback-span">Написать в поддержку</span>
                        </a>
                    </div>
                    <div class="card-body order">
                        <div class="row justify-content-center text-center pb-5">
                            <div class="col-12">
                                <p class="text-center">Используйте qr код: </p>
                                <img class="sell-qr-img" src="https://chart.googleapis.com/chart?chs=250x250&amp;cht=qr&amp;choe=UTF-8&amp;chl=https%3A%2F%2Fvk.com%2Fcoin%23m20420816_3b9aca00_129044" alt="https://chart.googleapis.com/chart?chs=250x250&amp;cht=qr&amp;choe=UTF-8&amp;chl=https%3A%2F%2Fvk.com%2Fcoin%23m20420816_3b9aca00_129044">
                                <br>
                                <small>
                                    Скан работает только через камеру вконтакте.<br>(Перейдите на вкладку новостей, сделайте свайп слева-направо или же нажмите на кнопку камеры в левом верхнем углу.
                                    Наведите
                                    камеру на код. Готово!)
                                </small>
                            </div>
                            <div class="col-12 pt-3">
                                <p>
                                    Или перейдите по ссылке <b>в приложении</b>
                                    ВКонтакте:
                                </p>
                                <a class="sell-coin-url " href="https://vk.com/coin#m20420816_3b9aca00_129044" target="_blank">https://vk.com/coin#m20420816_3b9aca00_129044</a>
                                <p>
                                    <a class="sell-coin-url btn btn-success stretched-link" href="https://vk.com/coin#m20420816_3b9aca00_129044" target="_blank">Перевести VK Coin</a>
                                </p>
                            </div>
                        </div>
                        <div class="table-overflow">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Номер транзакции</th>
                                        <th>e631602b6e01d719838c3ec368c3f3cb</th>
                                    </tr>
                                    <tr>
                                        <th>Текущий статус</th>
                                        <th>
                                            <span class="badge badge-pill badge-warning">Время заявки закончилось</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Отправитель</th>
                                        <th>
                                            <a href="https://vk.com/id142129330" target="_blank">
                                                <span class="d-none d-md-inline">https://vk.com/</span>
                                                id142129330
                                            </a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Получатель</th>
                                        <th>
                                            <a href="https://vk.com/id541198358" target="_blank">
                                                <span class="d-none d-md-inline">https://vk.com/</span>
                                                id541198358
                                            </a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Количество</th>
                                        <th>
                                            1 000 000,000 <span class="DesktopContainer__coin smallcoin"></span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Курс обмена</th>
                                        <th>
                                            <b>1 000</b>
                                            <span class="DesktopContainer__coin smallcoin"></span>
                                            - <b id="sellRateInfo">0.002</b>
                                            руб
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Тип сделки</th>
                                        <th>Продажа VK Coin</th>
                                    </tr>
                                    <tr>
                                        <th>Qiwi отправителя</th>
                                        <th>380957526668</th>
                                    </tr>
                                    <tr>
                                        <th>Qiwi получателя</th>
                                        <th>380977125282</th>
                                    </tr>
                                    <tr>
                                        <th>Время обновления</th>
                                        <th>2020-02-02 23:01:05</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>