<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />

  <title>Coin Market</title>

  <link rel="icon" href="/img/logo.png">
<link href="/bundle.1b1c00b80e8c707998c4.css" rel="stylesheet"><script type="text/javascript" src="/bundle.4e89dcc64908423ac1fd.js" defer></script></head>
<body>
	{{{ body }}}
</body>
</html>