<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />

  <title>Coin Market</title>

  <link rel="icon" href="/img/logo.png">
<link href="/bundle.5b1bd568001702a0196f.css" rel="stylesheet"><script type="text/javascript" src="/bundle.718ae75e348097863952.js" defer></script></head>
<body>
	{{{ body }}}
</body>
</html>